<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>breadcrumb</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-breadcrumb>
  <ion-breadcrumb href="#home">Home</ion-breadcrumb>
  <ion-breadcrumb href="#electronics">Electronics</ion-breadcrumb>
  <ion-breadcrumb href="#cameras">Cameras</ion-breadcrumb>
  <ion-breadcrumb href="#film">Film</ion-breadcrumb>
</ion-breadcrumb>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">breadcrumb</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>
